@font-face {
  font-family: "Vazirmatn";
  src: url("fonts/Vazirmatn%5Bwght%5D.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Vazirmatn', Tahoma, Arial, sans-serif;
  direction: rtl;
  text-align: right;
  line-height: 1.9;
  font-size: 15px;
}

p{ margin: 0 0 .55rem; }
ul, ol{ padding-right: 1.25rem; padding-left: 0; }
li{ margin: .15rem 0; }
a{ color: #0d6efd; }
